.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  font-weight: bold;
  padding: 25px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  font-weight: bold;
}

.card__btn {
  background-color: aquamarine;
}
.card__btn--sml {
  font-size: 10px;
}
.card__btn--med {
  font-size: 50px;
}
.card__btn--lrg {
  font-size: 169px;
}
