button {
  color: red;
}

button:hover {
  color: blue;
  text-decoration: underline;
}

/* Target first element/paragraph */
.box > p:first-of-type {
  color: red;
  text-decoration: line-through;
}

/* Specify/target certain element (i.e. third paragraph */
.box > p:nth-of-type(3) {
  color: rgb(57, 21, 149);
}

/* targets last paragraph/element */
.box > p:last-of-type {
  color: darkorange;
}

/* selects 2nd last paragraph */
.box > p:nth-last of :nth-of-type(2) {
  color: dodgerblue;
}

/* no need to really use this */
.box > h1:only-of-type {
  color: deeppink;
}

/* specifies unvisted link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: firebrick;
}

/* hover on link */
a:hover {
  font-size: 105%;
}

/* selected link - click & holding on link*/
a:active {
  color: burlywood;
}

/* targets inputs without the required input */
form > input:optional {
  border: 2px solid blue;
}

/* targets inputs with the required attribute */
form > input:required {
  border: 2px solid crimson;
}

/* undisabled inputs */
form > input:enabled {
  border-style: dashed;
}
