@media only screen and (max-width: 576px) {
  .btn {
    font-size: 10px;
    color: red;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .btn {
    font-size: 20px;
    background-color: hotpink;
  }
}

.gallery {
  display: grid;
}
@media only screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery img {
    margin: 2px;
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery img {
    margin: 2px;
    width: 45vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery img {
    margin: 2px;
    width: 30vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .gallery img {
    margin: 2px;
    width: 23vw;
  }
}
