@use "theme.scss";
@import "./partials/palette";
@import "./partials/typography";

.container {
  border: 4px solid $tea-green;
  border-radius: $default-border-radius;
  padding: $section-padding;
  background-image: $gradient_bottom;
  // @use rule, need to specify the file name from which the variable is coming from
  background-color: theme.$primary-background;

  &__box {
    // background-color: theme.$secondary-background;
    display: flex;
    flex-direction: column;
  }
}
