/* flexbox */
/* flex container */
/* flex items */

/* flex container */
main {
  height: 500px;
  border: 1px solid black;
  display: flex;
  /* x-coordinate values */
  justify-content: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */

  /* y-coordinate values */
  align-items: center;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
}

/* flex items */
.card {
  background-color: rgb(107, 215, 157);
  width: 150px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
