$purple: rgb(45, 8, 56);

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body--darkMode {
    background-color: $purple;
}

.heading--darkMode {
    color: white;
}

.container {
    border: 2px solid $purple;
    margin: 30px;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple;

    &--darkMode {
        color: white;
        background-color: $purple;
        border: 2px solid white;
    }
}

.button {
    padding: 5px 10px;
    background-color: $purple;
    border: 2px solid $purple;
    color: white;
    border-radius: 6px;
    width: 150px;
    margin: 10px;

    &--darkMode {
        color: $purple;
        background-color: white;
        border: 2px solid white;
    }
}
